{% load static %}
<link rel="stylesheet" href="{% static 'homepage/style.css' %}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Rubik">

<!DOCTYPE html>
<html class="aboutHtml">
<body class="about">
    <nav>
        <span>
            <span class="icons">
                <a href="https://github.com/seth-eaton"><img src="{% static 'homepage/github-about.png' %}"></a>
                <a href="https://www.linkedin.com/in/seth-truman-eaton-40ab751b8/"><img src="{% static 'homepage/linkedin-about.png' %}"></a>
            </span>
            <span class="links">
                <a href='/'>home</a>
                <a href='/projects/'>projects</a>
            </span>
        </span>
    </nav>
    <svg viewBox="0 0 1320 300">
        <text x="50%" y="50%" dy=".35em" text-anchor="middle">
            Hi! I'm Seth.
        </text>
    </svg>
    <div class="textContainer">
        <p>I am an empathetic, humanistic full stack developer interested in the intersections between science and mental health treatment. After two years of experience in web and app development, I am seeking opportunities in tech where I can work on full stack engineering as my primary responsibility. Take a look at my resume <a href="{% static 'homepage/Seth_Eaton_resume.pdf' %}">here</a>.</p></br></br>
        <p>This past year, while taking on freelance development projects, I also studied novel therapies for schizophrenia and schizoaffective disorder, such as virtual reality-based mindfulness, at Manhattan Psychiatric center. Prior to this work, I have used programming languages ranging from C, Swift, and Python to R, mostly for application development and statistical programming. See my projects page for more!</p></br></br>
        <p>With a degree in computer science and psychology from Columbia University, my hope is to one day utilize technological advancements to treat symptoms of psychosis and other mental health issues.</p></br></br>
        <p>In my free time I enjoy skiing, seeing movies, and listening to music. I spend most days working from home with my chihuahua, Fritz, in my lap. Thanks for visiting!</p></br></br></br>
    </div>
</body>
</html>
