{% load static %}
<link rel="stylesheet" href="{% static 'homepage/style_test.css' %}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu+Mono">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Rubik">

<!DOCTYPE html>
<html>
<body>
<nav>
    <span>
        <a href='about/'>about</a>
        <a href='links/'>links</a>
        <a href='contact/'>contact</a>
        <a href='projects/'>projects</a>
    </span>
</nav>
<div class="container">
    <div class="scene">
        <div class="banner">
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
        </div>
        <div class="screen"></div>
    </div>
</div>
</body>
</html>
