{% load static %}
<link rel="stylesheet" href="{% static 'homepage/style.css' %}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu+Mono" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Rubik" />

<!DOCTYPE html>
<html>
<body>
    <div class="sethtunesContainer">
        <nav>
            <span>
                <a href='/'>home</a>
                <a href='/about/'>about</a>
                <a href='/links/'>links</a>
                <a href='/contact/'>contact</a>
            </span>
        </nav>
        <div class="sethtunesLogoContainer">
            <div class="sethtunesLogo">
                <div class="content">
                    <a href='/sethtunes/'><h2 class="text_shadows">SETHTUNES</h2></a>
                </div>
            </div>
        </div>
    </div>
</html>
