{% load static %}
<link rel="stylesheet" href="{% static 'homepage/style.css' %}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Passion+One">

<!DOCTYPE html>
<html>
<body class="sethtunesNotFoundBackground">
    <div class="sethtunesNotFoundContainer">
        <div class=sethtunesNotFoundObjects">
            <div class="notFoundContent">
                <h2 class="notFoundText_shadows">404</h2>
            </div>
            <h1>PAGE NOT FOUND</h1>
        </div>
    </div>
</body>
</html>
