{% load static %}
<link rel="stylesheet" href="{% static 'homepage/style_test.css' %}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu+Mono">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Rubik">

<!DOCTYPE html>
<html>
<body>
<div class="container">
    <div class="scene">
        <div class="banner">
            <div class="panelNF"></div>
            <div class="panelNF"></div>
            <div class="panelNF"></div>
            <div class="panelNF"></div>
            <div class="panelNF"></div>
            <div class="panelNF"></div>
            <div class="panelNF"></div>
            <div class="panelNF"></div>
            <div class="panelNF"></div>
            <div class="panelNF"></div>
            <div class="panelNF"></div>
            <div class="panelNF"></div>
            <div class="panelNF"></div>
            <div class="panelNF"></div>
            <div class="panelNF"></div>
            <div class="panelNF"></div>
            <div class="panelNF"></div>
            <div class="panelNF"></div>
            <div class="panelNF"></div>
            <div class="panelNF"></div>
            <div class="panelNF"></div>
            <div class="panelNF"></div>
            <div class="panelNF"></div>
            <div class="panelNF"></div>
        </div>
        <div class="screen"></div>
    </div>
</div>
</body>
</html>
