html {
  font-family: Quicksand;
  color: #194219;
}

body {
  background-color: #f8fff8;
  margin: 0;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #7fc97f;
  --color-secondary: #64a563;
  --color-tertiary: #4a8249;
  --color-quaternary: #316130;
  --color-quinary: #194219;
  /*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
  */
}

.container {
  display: grid; 
  grid-template-areas: 
    "sethtunesTit sethtunesTit"
    "sethtunesNav sethtunesBody"
    ". .";
  grid-template-columns: 210px auto;
  font-size: 100%;
  margin: 0;
}

.sethtunesTit {
  margin: 0; 
  grid-area: sethtunesTit;
  padding-left:25px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.searchBar {
  align-self: flex-end;
}

.searchBar form {
  padding-right: 33px;
}

.searchBar form input[type=text] {
  border: none;
  background-color: #f8fff8;
  color: #194219;
  font-size: 25px;
  font-family: Quicksand;
  width: 300px;
  text-align: right;
}

.searchBar form input[type=text]:focus {
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #7fc97f;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #7fc97f;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #7fc97f;
}

.sethtunesNav { 
  grid-area: sethtunesNav;
}

.sethtunesNav a {
  display: block;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  text-decoration: none;
  font-size:30px;
  color: #194219;
  transition: 0.3s;
}

.sethtunesNav a:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #7fc97f;
  color: #f8fff8;
}

.sethtunesBody { 
  grid-area: sethtunesBody; 
  padding-left: 25px;
  padding-right: 25px;
}

.albumArtworkContainer {
  margin: 8px;
  font-size: 0px;
}

.thumbnail {
  height: 90px;
  width: 90px;
  padding: 5px;
  display: inline-block;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.aristDetailContainer {
  margin: 8px;
}

.artistDetailHeader {
  height: 120px;
  background-color: #7fc97f;
  color: #f8fff8;
  margin: 0px;
  display: flex;
  align-items: center;
}

.artistDetailHeaderInfo h1 {
  font-size: 30px;
  font-weight: normal;
  margin: 0px;
  padding-left: 10px;
}

.artistDetailheaderInfo h3 {
  font-size: 15px;
  font-weight: normal;
  margin: 0px;
  padding-left: 10px;
}

.artistDetailAlbumRow {
  height: 100px;
  display: flex;
  border-top: solid;
  margin: 0px;
  padding: 0px;
  border-color: #7fc97f;
}

.artistDetailAlbumRow:nth-child(1) {
  border-top: none;
}

.artistDetailAlbumRow a {
  display: flex;
  color: inherit;
}

.artistDetailAlbumRow img {
  height: 100px;
  width: 100px;
  float: left;
  padding: 10px;
}

.artistDetailAlbumInfo {
  align-self: center;
}

.artistDetailAlbumInfo h1 {
  font-weight: normal;
  font-size: 25px;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.artistDetailAlbumInfo h3 {
  font-weight: normal;
  font-size: 15px;
  margin: 0px;
}

.albumDetailContainer {
  margin: 8px;
}

.contentSelect button {
  font-family: Quicksand;
  font-size: 15px;
  border: none;
  background-color: #f8fff8;
  color: #194219;
}

.albumDetailHeader {
  height: 120px;
  background-color: #7fc97f;
  color: #f8fff8;
  margin: 0px;
  display: flex;
  align-items: center;
}

.albumDetailHeader img {
  float: left;
  padding: 10;
}

.albumDetailHeaderInfo a {
  color: #f8fff8;
}

.albumDetailheaderInfo a:hover {
  text-decoration: underline;
}

.albumDetailHeaderInfo h1 {
  font-size: 30px;
  font-weight: normal;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.albumDetailheaderInfo h3 {
  font-size: 15px;
  font-weight: normal;
  margin: 0px;
}

.albumDetailSongRow {
  color: #194219;
  height: 80px;
  padding-top: 10px;
  padding-left: 10px;
  border-top: solid;
  border-color: #7fc97f;
}

.ablumDetailSongRow:nth-child(1) {
  border-top: none;
}

.albumDetailSongRow a {
  color: #194219;
}

.albumDetailSongRow h1 {
  font-weight: normal;
  font-size: 25px;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.albumDetailSongRow h3 {
  font-weight: normal;
  font-size: 15px;
  margin: 0px;
}

.pitchforkReview {
  margin: 15px;
}

.pitchforkReview a {
  text-decoration: none;
  color: inherit;
}

.pitchforkReview a:hover {
  text-decoration: underline;
}

.pitchforkReview h1 {
  font-size: 22px;
}

.pitchforkReview .abstract {
  font-weight: 600;
}

.pitchforkReview p {
  text-indent: 50px;
  font-size: 17px;
}

.songDetailContainer {
  margin: 8px;
}

.songDetailContainer iframe {
  padding-top: 25px;
}

.songDetailHeader {
  height: 120px;
  background-color: #7fc97f;
  color: #f8fff8;
  margin: 0px;
  display: flex;
  align-items: center;
}

.songDetailHeader img {
  float: left;
  padding: 10;
}

.songDetailHeaderInfo a {
  color: inherit;
}

.songDetailHeaderInfo a:hover {
  text-decoration: underline;
}

.songDetailHeaderInfo h1 {
  font-size: 30px;
  font-weight: normal;
  margin: 0px;
}

.songDetailheaderInfo h3 {
  font-size: 15px;
  font-weight: normal;
  margin: 0px;
}

.searchContainer a {
  color: inherit;
}

.searchImageResultsContainer {
  display: flex;
  flex-wrap: wrap;
}

.searchImageResult {
  width: 200px;
  height: 170px;
}

.searchImageResult img {
  height: 100px;
  width: 100px;
  margin: 0 50 0 50;
}

.searchImageResult h1 {
  font-size: 15px;
  font-weight: normal;
  width: 200px;
  text-align: center;
  margin: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.searchImageResult h3 {
  font-size: 13px;
  font-weight: normal;
  width: 200px;
  text-align: center;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.content {
  display: flex;
  align-content: left;
  justify-content: left;
  padding-right: 30px;
}

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: Passion One;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 0.6s ease-in;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  100% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
}
