*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #7fc97f;
  --color-secondary: #64a563;
  --color-tertiary: #4a8249;
  --color-quaternary: #316130;
  --color-quinary: #194219;
  /*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
  */
}

html, body {
  background: #85844f;
  margin: 0;
  font-family: 'Rubik';
}

svg {
  width: 100vw;
  height: 90vh;
  transform: translateY(-5%);
}

svg text {
  animation: stroke 2.5s;
  fill: #85844f;
  stroke-width: 4;
  stroke: #343603;
  font-size: 140px;
}

nav {
  height: 10vh;
  width: 100vw;
}

nav span {
  padding-top: 4px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #343603;
  padding-right: 15px;
  text-decoration: none;
  font-size: 20px;
  vertical-align: top;
}

nav a:hover {
  font-size: 22px;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.icons {
  display: flex;
  justify-content: flex-start;
  padding-top: 6px;
}

.icons img {
  max-height: 20px;
  width: auto;
  padding-left: 10px;
  margin: 0;
}

.icons a {
  padding-right: 0;
}

.notFound svg {
  height: 100vh;
  transform: translateY(0%);
}

.about {
  background-color: #e9e3c3;
  color: #4e4f1d;
}

.about svg {
  width: 100vw;
  height: 30vh;
}

.about svg text {
  animation: stroke 2.5s;
  fill: #e9e3c3;
  stroke-width: 4;
  stroke: #4e4f1d;
  font-size: 140px;
}

.about nav a {
  color: #4e4f1d;
}

.about .textContainer {
  width: 100vw;
}

.about p {
  width: 55vw;
  text-align: left;
  text-indent: 50px;
  font-size: 20px;
  margin: 0 22.5vw 0 22.5vw;
}

.about p a {
  color: #4e4f1d;
  text-decoration: none;
}

.about p a:hover {
  text-decoration: underline;
}

.projectsBackground {
  background-color: #fcfae7;
}

.sethtunesContainer {
  height: 100vh;
  background-color: #fcfae7;
  width: 100vw;
}

.sethtunesContainer nav {
  height: 10vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

.sethtunesContainer nav a {
  color: #7fc97f;
}

.sethtunesContainer a {
  text-decoration: none;
}

.sethtunesLogoContainer {
  height: 90vh;
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
}

.sethtunesLogo {
  transform: translateY(-5vh);
}

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 0.6s ease-in;
  letter-spacing: 0.4rem;
}

.content {
  display: flex;
  align-content: left;
  justify-content: left;
}

.sethtunesNotFoundBackground {
  background-color: #fcfae7;
}

.sethtunesNotFoundContainer {
  height: 100%;
  background-color: #fcfae7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sethtunesNotFoundContainer h1 {
  color: #7fc97f;
  text-align: center;
  font-family: Quicksand;
  font-weight: normal;
}

.notFoundContent {
  display: flex;
  align-content: left;
  justify-content: left;
}

.notFoundText_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(6rem + 9vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 0.6s ease-in;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  100% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
}

@keyframes stroke {
  0%   {
    fill: rgba(52,54,3,0); stroke: rgba(52,54,3,1);
    stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
  }
  70%  {fill: rgba(52,54,3,0); stroke: rgba(52,54,3,1); }
  80%  {fill: rgba(52,54,3,0); stroke: rgba(52,54,3,1); stroke-width: 3; }
  100% {
    fill: rgba(52,54,3,0); stroke: rgba(52,54,3,1); 
    stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 4;
  }
}
