*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #7fc97f;
  --color-secondary: #64a563;
  --color-tertiary: #4a8249;
  --color-quaternary: #316130;
  --color-quinary: #194219;
  /*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
  */
}

body {
  background: #85844f;
  margin: 0;
  font-family: 'Ubuntu Mono';
}

svg {
  width: 100%; height: 100%;
}

svg text {
  animation: stroke 2.5s;
  fill: #85844f;
  stroke-width: 4;
  stroke: #343603;
  font-size: 140px;
}

.linkContainerAbout {
  height:100%;
  background-color: #f0deb4;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkContainerAbout h1 {
  color: #85844f;
  font-weight: normal;
}

.linkContainerAbout a {
  text-decoration: none;
  color: #85844f;
}

.linkContainerAbout a:hover {
  text-decoration: underline;
}

.sethtunesContainer {
  height: 100%;
  background-color: #fcfae7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sethtunesContainer a {
  text-decoration: none;
}

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 0.6s ease-in;
  letter-spacing: 0.4rem;
}

.content {
  display: flex;
  align-content: left;
  justify-content: left;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  100% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}


@keyframes stroke {
  0%   {
    fill: rgba(52,54,3,0); stroke: rgba(52,54,3,1);
    stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
  }
  70%  {fill: rgba(52,54,3,0); stroke: rgba(52,54,3,1); }
  80%  {fill: rgba(52,54,3,0); stroke: rgba(52,54,3,1); stroke-width: 3; }
  100% {
    fill: rgba(52,54,3,0); stroke: rgba(52,54,3,1); 
    stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 4;
  }
}
