{% load static %}
<link rel="stylesheet" href="{% static 'sethtunes/style.css' %}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Passion+One">

<!DOCTYPE html>
<html>
<script src="{% static 'sethtunes/album_detail.js' %}"></script>
<body onload="show_song_content()">
<div class="container">
    <div class="sethtunesTit">
        <div class="content">
            <a href='/sethtunes/'><h2 class="text_shadows">SETHTUNES</h2></a>
        </div>
        <div class="searchBar"> 
            <form action="/sethtunes/search" method="post">
                {% csrf_token %}
                <input name="search" type="text" placeholder="search">
            </form>
        </div>
    </div>
    <div class="sethtunesNav">
        <a href = "/sethtunes/about">about</a>
        <a href = "/sethtunes/new-music">new music</a>
	<a href = "/sethtunes/top-rated">top albums</a>
	<a href = "/">main site</a>
    </div>
    <div class = "sethtunesBody">
        {% if pfreview %}
        <span class = "contentSelect">
            <button onclick="show_song_content()">Songs</button>
            <button onclick="show_pf_content()">Pitchfork</button>
        </span>
        {% endif %}
        {% if album %}
        <div class = 'albumDetailContainer'>
            <div class = 'albumDetailHeader'>
                <img src="{{ album.artwork_url }}">
                <div class = 'albumDetailHeaderInfo'>
                    <h1>{{ album.album_name }}</h1>
                    <h3><a href="{% url 'sethtunes:artist_detail' album.artist.id %}">{{ album.artist_name }}</a> | {{ album.genre }} | {{ album.release_date|date:'m/d/Y' }}</h3>
                </div>
            </div>
            {% if songs %}
            <div id = "songContent">
                {% for song in songs %}
                <div class = 'albumDetailSongRow'>
                    <a href = "{% url 'sethtunes:song_detail' song.id %}"><h1>{{ song.song_name }}</h1></a>
                    <h3>{{ song.track_time|slice:"2:7" }}</h3>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% if pfreview %}
            <div class = "pitchforkReview" id = "pitchforkContent">
                <a href="http://pitchfork.com{{ pfreview.url}}", target="_blank">
                {% if pfreview.bnm %}
                    <h1>{{ pfreview.score }} | Best New Music | {{ pfreview.author }}</h1>
                {% else %}
                    <h1>{{ pfreview.score }} | {{ pfreview.author }}</h1>
                {% endif %}
                </a>
                <p class = "abstract">{{ pfreview.abstract }}</p>
                {% for paragraph in pfeditorial %}
                <p>{{ paragraph }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
</body>
</html>
