{% load static %}
<link rel="stylesheet" href="{% static 'sethtunes/style.css' %}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand">

<!DOCTYPE html>
<html>
<body>
<div class="container">
    <div class="sethtunesTit">
        <div class="content">
            <a href='/sethtunes/'><h2 class="text_shadows">SETHTUNES</h2></a>
        </div>
    </div>
    <div class="sethtunesNav">
        <a href = "/">home</a>
        <a href = "playlists/">playlists</a>
        <a href = "new-music/">new music</a>
    </div>
    <div class = "sethtunesBody">
        {% if album %}
        <div class = 'albumDetailContainer'>
            <div class = 'albumDetailHeader'>
                <img src="{{ album.artwork_url }}">
                <div class = 'albumDetailHeaderInfo'>
                    <h1>{{ album.album_name }}</h1>
                    <h3><a href="{% url 'sethtunes:artist_detail' album.artist.id %}">{{ album.artist_name }}</a> | {{ album.genre }} | {{ album.release_date|date:'m/d/Y' }}</h3>
                </div>
            </div>
            {% if songs %}
            {% for song in songs %}
            <div class = 'albumDetailSongRow'>
                <a href = "{% url 'sethtunes:song_detail' song.id %}"><h1>{{ song.song_name }}</h1></a>
                <h3>{{ song.track_time|slice:"2:7" }}</h3>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
</body>
</html>
