{% if song %}
    <p>Name: {{ song.song_name }}<br>
    Album: {{ song.album_name }}<br>
    Artist: {{ song.artist_name }}<br>
    ID: {{ song.id }}<br>
    Album ID: {{ song.album }}<br>
    Artist ID: {{ song.artist }}<br>
    Released: {{ song.release_date }}<br>
    Added: {{ song.added_date }}<br>
    Genre: {{ song.genre }}<br>
    Track time: {{ song.track_time }}<br>
    Itunes ID: {{ song.itunes_id }}<br>
    Explicit: {{ song.explicit }}<br>
    Artwork URL: <a href= "{{ song.artwork_url }}" >Link</a></p>
{% else %}
    <p>No information is available.</p>
{% endif %}

<iframe width="741" height="417" src="https://www.youtube.com/embed/MgT4-cqq4c4" title="Cruel World" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
