{% load static %}
<link rel="stylesheet" href="{% static '/sethtunes/style.css' %}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Passion+One">

<!DOCTYPE html>
<html>
<body>
<div class="container">
    <div class="sethtunesTit">
        <div class="content">
            <a href='/sethtunes/'><h2 class="text_shadows">SETHTUNES</h2></a>
        </div>
        <div class="searchBar"> 
            <form action="/sethtunes/search" method="post">
                {% csrf_token %}
                <input name="search" type="text" placeholder="search">
            </form>
        </div>
    </div>
    <div class="sethtunesNav">
        <a href = "playlists/">playlists</a>
        <a href = "new-music/">new music</a>
        <a href = "/">main site</a>
    </div>
    <div class ="sethtunesBody">
        {% if song %}
        <div class="songDetailContainer">
            <div class="songDetailHeader">
                <img src="{{ song.artwork_url }}">
                <div class="songDetailHeaderInfo">
                    <h1>{{ song.song_name }}</h1>
                    <h3><a href="{% url 'sethtunes:artist_detail' song.artist.id %}">{{ song.artist_name }}</a> | <a href="{% url 'sethtunes:album_detail' song.album.id %}">{{ song.album_name }}</a> | {{ song.genre }} | {{ song.release_date|date:'m/d/Y' }}</h3>
                </div>
            </div>
            {% if am_embed %}
            <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="175" style="width:100%;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="{{ am_embed.embed_url }}"></iframe>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
</body>
</html>
