{% load static %}
<link rel="stylesheet" href="{% static '/sethtunes/style.css' %}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand">

<!DOCTYPE html>
<html>
<body>
<div class="container">
    <div class="sethtunesTit">
        <div class="content">
            <a href='/sethtunes/'><h2 class="text_shadows">SETHTUNES</h2></a>
        </div>
    </div>
    <div class="sethtunesNav">
        <a href = "/">home</a>
        <a href = "playlists/">playlists</a>
        <a href = "new-music/">new music</a>
    </div>
    <div class ="sethtunesBody">
        {% if song %}
        <div class="songDetailContainer">
            <div class="songDetailHeader">
                <img src="{{ song.artwork_url }}">
                <div class="songDetailHeaderInfo">
                    <h1>{{ song.song_name }}</h1>
                    <h3><a href="{% url 'sethtunes:artist_detail' song.artist.id %}">{{ song.artist_name }}</a> | <a href="{% url 'sethtunes:album_detail' song.album.id %}">{{ song.album_name }}</a> | {{ song.genre }} | {{ song.release_date|date:'m/d/Y' }}</h3>
                </div>
            </div>
            <iframe width="640" height="360" src="https://www.youtube.com/embed/g7Z7yXoIIJ0" title="Rostam - "Half-Light" ft. Kelly Zutrau of 'Wet' [Lyric Video]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        {% endif %}
    </div>
</div>
</body>
</html>
