{% load static %}
<link rel="stylesheet" href="{% static 'sethtunes/style.css' %}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Passion+One">

<!DOCTYPE html>
<html>
<body>
<div class="container">
    <div class="sethtunesTit">
        <div class="content">
            <a href='/sethtunes/'><h2 class="text_shadows">SETHTUNES</h2></a>
        </div>
        <div class="searchBar"> 
            <form action="/sethtunes/search" method="post">
                {% csrf_token %}
                <input name="search" type="text" placeholder="search">
            </form>
        </div>
    </div>
    <div class="sethtunesNav">
        <a href = "/sethtunes/about">about</a>
        <a href = "/sethtunes/new-music">new music</a>
        <a href = "/sethtunes/top-rated">top albums</a>
        <a href = "/">main site</a>
    </div>
    <div class = "sethtunesBody">
        {% if reviews %}
        <div class = 'reviewsContainer'>
	    <div class = 'reviewsHeader'>
	        <h1>...at least according to Pitchfork...</h1>
	    </div>
            {% for review in reviews %}
            <div class = 'reviewRow'>
                <a href = "{% url 'sethtunes:album_detail' review.album.id %}?view=pitchfork">
                <img src = "{{ review.album.artwork_url }}">
                <div class = "reviewInfo">
		    <h1>{{ review.score }} | {{ review.artist_name }}: {{ review.album_name }}</h1>
                    <h3>{{ review.author }}</h3>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
</body>
</html>
